IndexIgnore *
<Files .htaccess>
    order allow,deny
    deny from all
</Files>

RewriteEngine On
RewriteRule ^$ view/index.php [L,QSA]
RewriteRule ^inventory$ view/inventory.php [L,NC]
RewriteRule ^movement$ view/movement.php [L,NC]
RewriteRule ^client$ view/client.php [L,NC]
RewriteRule ^history$ view/history.php [L,NC]
RewriteRule ^user$ view/user.php [L,NC]
RewriteRule ^auth$ controller/auth.php [L,NC]
RewriteRule ^logout$ controller/logout.php [L,NC]
RewriteRule ^changepsw$ controller/update_password.php [L,QSA]
RewriteRule ^create$ controller/create_user.php [L,QSA]
RewriteRule ^deleteuser$ controller/delete_user.php [L,QSA]
RewriteRule ^edituser$ controller/edit_user.php [L,QSA]