html {
    min-height: 100%;
    position: relative;
} 
body{
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 40px;
    background-color: #fdfdfd;
}

footer.bg{
    background-color: #4187A9 !important; 

}
footer {
    position: absolute;
    bottom: 0;
    width: 100%; 
}
.navbar a {
    color: white;
}
.message-error{
    width: 100%;
    display: block;
}
.error {
    color: red;
}
.table-responsive::-webkit-scrollbar{
    height: 10px;
    width: 10px;
}  
.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.582);
    height: 2px;
    border-radius: .5rem;
}
.search-bar{
    display: block;
    width: 30%!important;
    float: right;
}